@using ProjetoE21.Dados;

@using (Html.BeginForm("Index", "Pesquisar", FormMethod.Get))
{
    <p>
        Encontrar pela descrição: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

@foreach(var i in Listas.cadastrosJ)
{
    <a asp-action="Ver" asp-route-id="@i.Id" class="w-100 d-flex p-3 align-content-center mb-2 border">
        <div style="width:25%">
            <img src="~/css/Imagens/Perfil.png" style="width:50%"></img>
        </div>
        <p class="m-2" style="width:25%">@i.Nome</p>
        <p class="m-2" style="width:25%">@i.Local.Estado</p>
        <p class="m-2" style="width:25%">@i.Local.Cidade</p>
    </a>
}