@using ProjetoE21.Dados;

@model ProjetoE21.Models.Jovem;

<div style="width:80vw;">
    <div style="justify-content:center; text-align:center;">
        <h1>Perfil</h1>
            <img src="~/css/Imagens/Perfil.png" width="25%"></img>

        <h3>@Model.Nome</h3>
        <p>Data de nascimento: @Model.DataNascimento.Day/@Model.DataNascimento.Month/@Model.DataNascimento.Year</p>
        <p>Telefone: @Model.Telefone</p>
        <p>Email: @Model.Email</p>

        <h1>Responsável</h1>

        <p>Nome do responsável: @Model.Responsavel</p>
        <p>Telefone do responsável: @Model.FoneResponsavel</p>
    </div>
</div>

<a href="https://wa.me/@Model.Telefone">Enviar mensagem</a>

<h1>Currículo</h1>

<div style="margin: auto; align-items: stretch; display: flex; width: 30%; height: 60%; flex-direction: row; border: 1px solid black; text-align: center; border-radius: 8px;">
            <div style="padding-top: 5px; border: 1px solid black; background-color: #a3d693; width: 37%; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                <img style="background-color: #3a5033; width: 90%; height: 17%;" src="~/css/Imagens/Perfil.png" alt="foto perfil">
                <hr style="border: 1px solid #87b17a;">
                <h2 style="padding: 10px; text-align: left; background-color: #87b17a;">Perfil</h2>

                <div style=" padding: 10px; text-align: left;">
                    <span style="font-weight: bold;">Perfil Profissional</span>
                    <textarea readonly placeholder="Fale um pouco sobre seu Perfil Profissional" name="perfilprofissional" id="perfilprofissional" cols="25" rows="5" style="width: 100%; margin-bottom: 15px; background-color: #a3d693; border: none; resize: none;">@Model.Curriculo.PerfilProfissional</textarea>

                    <span style="font-weight: bold;">Telefone</span>
            <textarea readonly placeholder="(xx) xxxxx-xxxx" name="telefonecurriculo" id="telefonecurriculo" cols="25" rows="1" style="width: 100%; margin-bottom: 15px; background-color: #a3d693; border: none; resize: none;">@Model.Curriculo.Telefone</textarea>

                    <span style="font-weight: bold;">E-mail</span>
            <textarea readonly placeholder="email@gmail.com" name="emailcurriculo" id="emailcurriculo" cols="25" rows="1" style="width: 100%; margin-bottom: 15px; background-color: #a3d693; border: none; resize: none;">@Model.Curriculo.Email</textarea>
                </div>

                <div>
                    <hr style="border: 1px solid #87b17a;">
                    <h2 style="padding: 10px; text-align: left; background-color: #87b17a;">Idiomas</h2>
                    <div style="padding: 10px; text-align: left; display: flex; flex-direction: column;">
                        <div style="display: flex;">
                    <p readonly style="width:70%; background-color: #a3d693; border: none; margin: 0px 10px 10px 5px; font-weight: bold;" id=idioma1 type="text">@Model.Curriculo.Idioma1</p>
                    <p style="width:15%; margin:auto;" id="valor1">@Model.Curriculo.NivelIdioma1</p>
                        </div>
                <input readonly type="range" value="@Model.Curriculo.ValorIdioma1" onload="nivelidioma('intervalo1', 'valor1')" id="intervalo1" min="0" max="100" oninput="nivelidioma('intervalo1', 'valor1')">
                        
                    </div>
            @if (Model.Curriculo.Idioma2 != "")
            {
                        <div style="padding: 10px; text-align: left; display: flex; flex-direction: column;">
                            <div style="display: flex;">
                        <p readonly style="width:70%; background-color: #a3d693; border: none; margin: 0px 10px 10px 5px; font-weight: bold;" id=idioma2 type="text">@Model.Curriculo.Idioma2</p>
                        <p style="width:15%; margin:auto;" id="valor2">@Model.Curriculo.NivelIdioma2</p>
                            </div>
                    <input readonly type="range" value="@Model.Curriculo.ValorIdioma2" id="intervalo2" min="0" max="100" onload="nivelidioma('intervalo2', 'valor2')" oninput="nivelidioma('intervalo2', 'valor2')">

                        </div>
                    }
            @if (Model.Curriculo.Idioma3 != "")
            {
                        <div style="padding: 10px; text-align: left; display: flex; flex-direction: column;">
                            <div style="display: flex;">
                        <p readonly style=" width:70%; background-color: #a3d693; border: none; margin: 0px 10px 10px 5px; font-weight: bold;" id=idioma3 type="text">@Model.Curriculo.Idioma3</p>
                        <p style="width:15%; margin:auto;" id="valor3">@Model.Curriculo.NivelIdioma3</p>
                            </div>
                    <input readonly type="range" value="@Model.Curriculo.ValorIdioma3" onload="nivelidioma('intervalo3', 'valor3')" id="intervalo3" min="0" max="100" oninput="nivelidioma('intervalo3', 'valor3')">
                        </div>
                    }
                </div>
            </div>

            <div style="width: 63%;">
                <div style="text-align: start;">
                    @* pegar o nome do perfil do usuario *@
            <h1 style="margin-left: 25px; color: #87b17a;">@Model.Curriculo.Nome</h1>
                </div>
                <div>
                    <div style="text-align: start; display: flex;">
                        <img src="" alt="">
                <p placeholder="Cidade" style="border: none; margin: 0px 10px 10px 25px; font-weight: bold;">@Model.Curriculo.Local.Cidade</p>
                    </div>
                </div>
                <hr style="border: 1px solid #a3d693;">
                <div style="display: flex; flex-direction: column; justify-content: center; width: 100%;">
                    <h3 style="text-align: start; margin-left: 25px;">Escolaridade</h3>
                    <div style="margin-right: 15px;">
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="datainicio">Inicio</label>
                            <p readonly style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">
                        @if (Model.Curriculo.InicioEscola.Day.ToString().Length == 1)
                                {
                            string o = Model.Curriculo.InicioEscola.Day.ToString();

                                    string zero = "0";

                                    string j = zero += o;

                                    @j;
                                }
                                else
                                {
                            @Model.Curriculo.InicioEscola.Day
                            ;
                        } / @if (Model.Curriculo.InicioEscola.Month.ToString().Length == 1)
                                                            {
                            string o = Model.Curriculo.InicioEscola.Month.ToString();

                                    string zero = "0";

                                    string j = zero += o;

                                    @j;
                                }
                                else
                                {
                            @Model.Curriculo.InicioEscola.Month
                            ;
                                }
                        / @Model.Curriculo.InicioEscola.Year
                            </p>
                        </div>
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="escola1">Escola</label>
                    <textarea readonly placeholder="E.B.M.nome da escola" id="escola1" cols="155" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">@Model.Curriculo.Escola</textarea>
                        </div>
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="cidadeescola">Cidade</label>
                    <textarea readonly placeholder="Blumenau" id="cidadeescola" cols="25" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">@Model.Curriculo.EscolaCidade</textarea>
                        </div>
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="ensino">Ensino</label>
                    <textarea readonly placeholder="Médio" id="ensino" cols="25" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">@Model.Curriculo.Ensino</textarea>
                        </div>
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="status">Status</label>
                    <textarea readonly placeholder="Cursando" id="status" cols="15" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">@Model.Curriculo.Status</textarea>
                        </div>
                    </div>
                </div>
                <hr style="border: 1px solid #a3d693;">
                <div style="display: flex; flex-direction: column; justify-content: center; width: 100%;">
                    <h3 style="text-align: start; margin-left: 25px;">Atividades extra curriculares</h3>
                    <div style="margin-right: 15px;">

                @if (Model.Curriculo.Cursos != "")
                {
                            <div style="display: flex;">
                                <label style="margin-left: 25px;" for="cursos">Cursos</label>
                        <textarea readonly class="m-2" id="cursos" cols="155" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;" readonly id="Curriculo-cursos" placeholder="cursos">@Model.Curriculo.Cursos</textarea>
                                @* <span class="text-danger">@Html.ValidationMessageFor(model => model.Cursos)</span> *@
                            </div>
                        }
                @if (Model.Curriculo.Outros1 != "")
                        {
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="outros1">Outros</label>
                        <textarea readonly placeholder="lider de turma" id="outros1" cols="155" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">@Model.Curriculo.Outros1</textarea>
                        </div>
                        }
                @if (Model.Curriculo.Outros2 != "")
                        {
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="outros2">Outros</label>
                        <textarea readonly placeholder="lider de turma" id="outros2" cols="155" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">@Model.Curriculo.Outros2</textarea>
                        </div>
                        }
                @if (Model.Curriculo.Outros3 != "")
                        {
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="outros3">Outros</label>
                        <textarea readonly placeholder="lider de turma" id="outros3" cols="155" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">@Model.Curriculo.Outros3</textarea>
                        </div>
                        }
                @if (Model.Curriculo.Outros4 != "")
                        {
                        <div style="display: flex;">
                            <label style="margin-left: 25px;" for="outros4">Outros</label>
                        <textarea readonly placeholder="lider de turma" id="outros4" cols="155" rows="1" style="margin-left: 5px; margin-bottom: 15px; border: none; resize: none;">@Model.Curriculo.Outros4</textarea>
                        
                    </div>
                        }