@using ProjetoE21.Dados
<link rel="stylesheet" href="~/css/HoverCard.css" />

<style>
    .hoverCard:hover {
        animation-name: HoverCard1;
        animation-duration: 0.50s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .hoverCard2:hover {
        animation-name: HoverCard2;
        animation-duration: 0.50s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
</style>

<div class="d-flex" style="width: 100%; margin-top: 12px">
    <div style="width: 40%" class="m-2 text-center">
        <p>Empregos</p>
    </div>
    <aside style="width: 40%" class="m-2 text-center">
        <p>Serviços</p>
    </aside>
</div>

<div class="d-flex" style="width: 100%">

    <div style="border-radius:10px; width: 40%" class="m-2">
        @foreach (var i in ProjetoE21.Dados.Listas.empregos)
        {
            <div class="d-flex">
                <div class="card mb-5 hoverCard" style="width: 100%">
                    <div class="row g-0">
                        <div class="row flex-column">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(model => i.Empresa.Nome)</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(model => i.Descricao)
                                </p>
                                <p class="card-text">
                                    @Html.DisplayFor(model => i.Local.Rua)  @Html.DisplayFor(model => i.Local.Cidade)
                                    <br>
                                    @Html.DisplayFor(model => i.HoraDeInicio.TimeOfDay) @Html.DisplayFor(model => i.HoraDeFim.TimeOfDay)
                                    <br>
                                    <span>Dias Trabalhados: </span>@Html.DisplayFor(model => i.DiasTrabalhados)
                                </p>
                                <div class="d-flex justify-content-between">
                                    <span>R$: @Html.DisplayFor(model => i.Salario)</span>
                                    <span> Data da postagem: 10/12</span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="card-body">


                                @if (Usuario.LogadoE == null)
                                {
                                    <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:green;">Candidatar</a>
                                    <span class="card-link" style="text-decoration:none; font-size:1em; color:blue;">@Html.ActionLink("Salvar", "Favoritar", new { Id = i.Id })</span>
                                    <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:red;">Compartilhar</a>

                                }
                                else
                                {
                                    <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:green;">Candidatar</a>
                                    <span class="card-link" style="cursor:pointer; text-decoration:none; font-size:1em; color:blue;">Salvar</span>
                                    <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:red;">Compartilhar</a>
                                }
                               
                            
                            
                            
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <aside style="border-radius:10px; width: 40%" class="m-2">
        @foreach (var i in ProjetoE21.Dados.Listas.servicos)
        {
            <div class="d-flex">
                <div class="card mb-5" style="width: 100%">
                    <div class="row g-0 hoverCard2">
                        <div class="row flex-column">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(model => i.EmpresaS.Nome)</h5>
                                <p class="card-text">
                                    @Html.DisplayFor(model => i.Descricao)
                                </p>
                                <p class="card-text">
                                    @Html.DisplayFor(model => i.Local.Rua)  @Html.DisplayFor(model => i.Local.Cidade)
                                    <br>
                                    @Html.DisplayFor(model => i.Dia) @Html.DisplayFor(model => i.Hora)
                                </p>
                                <div class="d-flex justify-content-between">
                                    <span>R$: @Html.DisplayFor(model => i.Pagamento)</span>
                                    <span> Data da postagem: 10/12</span>
                                </div>

                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="card-body">
                                <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:green;">Candidatar</a>
                                <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:blue;">Salvar</a>
                                <a href="#" class="card-link" style="text-decoration:none; font-size:1em; color:red;">Compartilhar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </aside>
</div>