@model IEnumerable<CadastroProjeto.Models.Jovem>
@{
    ViewData["title"] = "Jovem";
}
<h1 class="text">@ViewData["title"]</h1>
<p>
    <a asp-action="Create">Create</a>
</p>

@foreach (var item in Model)
{
    <div>
        <p>
            <span class="fw-bold">Id</span> : @Html.DisplayFor(model => item.Id)
        </p>
        <p>
            <span class="fw-bold">Nome</span> : @Html.DisplayFor(model => item.Nome)
        </p>
        <p>
            <span class="fw-bold">Email</span> : @Html.DisplayFor(model => item.Email)
            </p>
        <p>
            <span class="fw-bold">Telefone</span> : @Html.DisplayFor(model => item.Telefone)
        </p>
        <p>
            <span class="fw-bold">Data De Nascimento</span> : @Html.DisplayFor(model => item.DataNascimento)
        </p>
        <p>
            <span class="fw-bold">Nome Do Local</span> : @Html.DisplayFor(model => item.NomeLocal)
        </p>
        <p>
            <span class="fw-bold">Rua</span> : @Html.DisplayFor(model => item.Rua)
        </p>
        <p>
            <span class="fw-bold">Numero</span> : @Html.DisplayFor(model => item.Numero)
        </p>
        <p>
            <span class="fw-bold">Bairro</span> : @Html.DisplayFor(model => item.Bairro)
        </p>
        <p>
            <span class="fw-bold">Cidade</span> : @Html.DisplayFor(model => item.Cidade)
        </p>
        <p>
            <span class="fw-bold">CEP</span> : @Html.DisplayFor(model => item.CEP)
        </p>
        <p>
            <span class="fw-bold">UF</span> : @Html.DisplayFor(model => item.UF)
        </p>
        <p>
            <span class="fw-bold">Pais</span> : @Html.DisplayFor(model => item.Pais)
        </p>

        <div style="display:flex">
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.Id })
        </div>
    </div>
}