
@model IEnumerable<ProjetoE21.Models.Servico>
<div>
    <h1>Meus serviços</h1>

    <p>
        <a asp-action="Adicionar">Adicionar serviço</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Empresa</th>
                <th>Pagamento</th>
                <th>Dia</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => i.Id)</td>
                    <td>@Html.DisplayFor(model => i.Descricao)</td>
                    <td>@Html.DisplayFor(model => i.EmpresaS.Nome)</td>
                    <td>@Html.DisplayFor(model => i.Pagamento)</td>
                    <td>@Html.DisplayFor(model => i.Dia)</td>
                    <td>@Html.DisplayFor(model => i.Hora)</td>
                </tr>
            }
        </tbody>
    </table>
</div>