
@model IEnumerable<ProjetoE21.Models.Emprego>
<div>
    <h1>Meus empregos</h1>

    <p>
        <a asp-action="Adicionar">Adicionar emprego</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Empresa</th>
                <th>Cidade</th>
                <th>Rua</th>
                <th>Horário de início</th>
                <th>Horário de término</th>
                <th>Dias trabalhados</th>
                <th>Salario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => i.Id)</td>
                    <td>@Html.DisplayFor(model => i.Descricao)</td>
                    <td>@Html.DisplayFor(model => i.Empresa.Nome)</td>
                    <td>@Html.DisplayFor(model => i.Local.Cidade)</td>
                    <td>@Html.DisplayFor(model => i.Local.Rua)</td>
                    <td>@Html.DisplayFor(model => i.Empresa.Nome)</td>
                    <td>@Html.DisplayFor(model => i.HoraDeInicio.TimeOfDay)</td>
                    <td>@Html.DisplayFor(model => i.HoraDeFim.TimeOfDay)</td>
                    <td>@Html.DisplayFor(model => i.DiasTrabalhados)</td>
                    <td>R$@Html.DisplayFor(model => i.Salario)</td>
                    <td>
                        @Html.ActionLink("Details", "Details",  new {Id = i.Id}) |
                        @Html.ActionLink("Edit", "Edit",  new {Id = i.Id}) |
                        @Html.ActionLink("Delete", "Delete",  new {Id = i.Id})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>